@font-face {
    font-family: rpgfont;
    src: url('../../assets/t4cbeaulieux.ttf');
}

.container {
    margin-top: 10px;
    background-color: rgba(30, 30, 30, 0.5);
    z-index: 999;
    width: 100%;
    pointer-events: all;
    height: 30px;

    & .commandLine {
        font-family: rpgfont;
        font-size: 20px;;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;
        width: 100%;
        padding-top: 5px;
        padding-left: 5px;
    }
}