@import  url('./trouble.css');

.container {
    background-color: salmon;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100%;

    & .test{
        height: 20px;
        background-color: purple;
    }

    & .threeContainer {
        width: 100%;
        height: 100%;
        background-color: lime;
        flex-grow: 1;
    }
}

