/* temp_stylePlugin:ni:sha-256;VzPEH7d0UCD1NwkniLizE0JFbOEeHx9Dyv81Oty0o5M */
._container_185c7_1 {
  color: white;
  font-size: 20px;
  min-width: 100%;
  min-height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._container_185c7_1 ._logo_185c7_11 {
  margin-top: 200px;
}
._container_185c7_1 ._disclaimer_185c7_15 {
  padding: 10px;
  border: 1px solid #444;
  font-size: 13px;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  color: #ccc;
  max-width: 500px;
  max-height: 200px;
  width: 500px;
  height: 200px;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
._container_185c7_1 ._button_185c7_29 {
  margin-top: 20px;
  padding: 10px;
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  font-size: 15px;
  background-color: #333;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* temp_stylePlugin:ni:sha-256;XOLQ37B6qQUWaGHxpsTbQvHuJCQk2e3RZI5ZtvpQaKo */
._container_efrmr_1 {
  color: white;
  font-size: 20px;
  min-width: 100%;
  min-height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
._container_efrmr_1 ._messageContainer_efrmr_12 {
  margin-top: 0;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #666;
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  font-size: 14px;
}
._container_efrmr_1 ._formSection_efrmr_21 {
  margin-top: 20px;
}
._container_efrmr_1 ._button_efrmr_25 {
  margin-top: 20px;
  padding: 10px;
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
  font-size: 15px;
  background-color: #333;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* temp_stylePlugin:ni:sha-256;_oGhYZkzoVE63Z2Jy2fFfrKYtnWUbRlEyumzmRv6gcQ */
._container_10rdz_1 {
  color: white;
  font-size: 20px;
  min-width: 100%;
  min-height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
._container_10rdz_1 ._itemsContainer_10rdz_12 {
  margin-top: 200px;
  align-content: left;
}
._container_10rdz_1 ._itemsContainer_10rdz_12 ._item_10rdz_12 {
  font-size: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
._container_10rdz_1 ._itemsContainer_10rdz_12 ._item_10rdz_12 ._status_10rdz_22 {
  width: 24px;
  height: 24px;
  background-color: gray;
  margin-right: 10px;
  border-radius: 12px;
}
._container_10rdz_1 ._itemsContainer_10rdz_12 ._item_10rdz_12 ._status_10rdz_22._green_10rdz_29 {
  background-color: green;
}
._container_10rdz_1 ._itemsContainer_10rdz_12 ._label_10rdz_35 {
  color: #999;
}

/* temp_stylePlugin:ni:sha-256;7RW33KZNpivo6yWlhUxVIh_YD128cANoiLwsGG3-0C0 */
._container_16e88_3 {
  background-color: salmon;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-between;
}
._container_16e88_3 ._threeContainer_16e88_10 {
  flex-grow: 1;
  background-color: black;
}

/* temp_stylePlugin:ni:sha-256;G0_GL9SR0nXLzD13iY4EO0z_RDvcm_qeqrtEyc20c04 */
._container_l53pu_1 {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.5);
}
._container_l53pu_1 ._sectionContainer_l53pu_10 {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-top: 4px;
  font-size: 11px;
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}
._container_l53pu_1 ._sectionContainer_l53pu_10 ._label_l53pu_18 {
  color: white;
  font-weight: bold;
}
._container_l53pu_1 ._sectionContainer_l53pu_10 ._content_l53pu_23 {
  margin-left: 5px;
  color: #ccc;
}

/* temp_stylePlugin:ni:sha-256;BGLyxpoXCFjKwi0WUqdKupKGbvQv_VEne3TFOT9oFvc */
@font-face {
  font-family: rpgfont;
  src: url(./t4cbeaulieux-GCL7NJXH.ttf);
}
._container_1rb0h_6 {
  margin-top: 10px;
  background-color: rgba(30, 30, 30, 0.5);
  z-index: 999;
  width: 100%;
  pointer-events: all;
  height: 30px;
}
._container_1rb0h_6 ._commandLine_1rb0h_14 {
  font-family: rpgfont;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
}

/* temp_stylePlugin:ni:sha-256;JQwdNtXL155adItkpAvx5rz18aB8uw8OnQ_D32DplLk */
@font-face {
  font-family: rpgfont;
  src: url(./t4cbeaulieux-GCL7NJXH.ttf);
}
._container_q4m10_6 {
  width: 100%;
  height: 300px;
  background-color: transparent;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
._container_q4m10_6._invisible_q4m10_17 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
._container_q4m10_6 ._messageContainer_q4m10_23 {
  font-family: rpgfont;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
._container_q4m10_6 ._messageContainer_q4m10_23 ._message_q4m10_23 {
  margin-top: 15px;
  color: white;
}
._container_q4m10_6 ._messageContainer_q4m10_23 ._message_q4m10_23._success_q4m10_33 {
  color: green;
}
._container_q4m10_6 ._messageContainer_q4m10_23 ._message_q4m10_23._error_q4m10_37 {
  color: red;
}
._container_q4m10_6 ._messageContainer_q4m10_23 ._message_q4m10_23._warning_q4m10_41 {
  color: orange;
}

/* temp_stylePlugin:ni:sha-256;9cxxWNjQH46DOlWVT8KTtC_LxCbgwA1hQgU3bcrPZI0 */
._container_e55tz_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  left: 25%;
  bottom: 10px;
  z-index: 999;
  pointer-events: none;
}

/* temp_stylePlugin:ni:sha-256;YVa3AK08F-VCJFvACPgArNM0WiDU3dgNclD5rf9_sDg */
._container_1dtej_1 {
  background-color: lime;
  font-size: 20px;
}

/* temp_stylePlugin:ni:sha-256;4we3tpCrVPvxLn1yl2oS_gEmSvO-fltihifGxBPEAOA */
._container_1du2l_1 {
  background-color: red;
  color: white;
  font-size: 20px;
}

/* temp_stylePlugin:ni:sha-256;ErU5nbcKtUZh_zb9j_cE3dFHSGAIcjEsDhiygA0lrTw */
._appContainer_eksay_1 {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=index.css.map */
