.container {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.5);

  & .sectionContainer {
    display: flex;
    flex-direction: row;
    user-select: none;
    margin-top: 4px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    & .label {
      color: white;
      font-weight: bold;
    }

    & .content {
      margin-left: 5px;
      color: #ccc;
    }
  }
}
